{% extends 'DelegationsBundle::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">{{ 'translations.typeOfExpenditureList'|trans({}, 'DelegationsBundle') }}
        <div class="btn-group pull-right" role="group">
            <a href="{{ path('type-of-expenditure_new') }}" class="btn btn-default">{{ 'translations.CreateNewexpenditure'|trans({}, 'DelegationsBundle') }}</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="50">{{ 'translations.Id'|trans({}, 'DelegationsBundle') }}</th>
                <th>{{ 'translations.DelegatiotypeName'|trans({}, 'DelegationsBundle') }}</th>
                <th width="100">{{ 'translations.Actions'|trans({}, 'DelegationsBundle') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('type-of-expenditure_show', { 'id': entity.id }) }}">{{ entity.expenditure}}</a></td>
                    <td>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{ path('type-of-expenditure_show', { 'id': entity.id }) }}">{{ 'translations.ViewAction'|trans({}, "DelegationsBundle") }}</a>
                            </li>
                            <li>
                                <a href="{{ path('type-of-expenditure_edit', { 'id': entity.id }) }}">{{ 'translations.EditAction'|trans({}, "DelegationsBundle") }}</a>
                            </li>
                            <li><br></li>
                            <li>
                                <a href="{{ path('type-of-expenditure_delete', { 'id': entity.id }) }}" class="delete">{{ 'translations.Delete'|trans({}, "DelegationsBundle") }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="dialogModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ 'translations.Delete'|trans({}, "DelegationsBundle") }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'translations.areYouSure'|trans({}, "DelegationsBundle") }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'translations.Close'|trans({}, "DelegationsBundle") }}</button>
                <button id="dialogModalAct" type="button" class="btn btn-danger">{{ 'translations.Delete'|trans({}, "DelegationsBundle") }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $(document).ready(function() {
        var _url = window.location.href;
        $('#dialogModalAct').click(function(e){
            e.preventDefault();
            window.location.href = _url;
        });
        $('.delete').click(function(e){
            e.preventDefault();
            _url = $(this).attr('href');
            $('#dialogModal').modal();
        });
    });
</script>
{% endblock %}
