<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ pageTitle|default("Hello!") }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
        {% stylesheets
        '@DelegationsBundle/Resources/public/css/bootstrap/bootstrap.min.css'
        '@DelegationsBundle/Resources/public/css/main.css'
        '@DelegationsBundle/Resources/public/css/font-awesome.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% stylesheets
        output='fonts/icomoon.eot'
        'bundles/delegations/fonts/icomoon.eot'
        %}{% endstylesheets %}
        {% stylesheets
        output='fonts/icomoon.woff'
        'bundles/delegations/fonts/icomoon.woff'
        %}{% endstylesheets %}
        {% stylesheets
        output='fonts/icomoon.ttf'
        'bundles/delegations/fonts/icomoon.ttf'
        %}{% endstylesheets %}

    </head>
    <body>
        <div class="container">
            {# CONTENT #}
            <div class="row paddingTop">
                <div class="">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('info') %}
                        <div class="alert alert-info">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('danger') %}
                        <div class="alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
                {#  #}
                <div id="alert-container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alert-modal" aria-hidden="true"></div>
                <div class="notifications top-right"></div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        {% block body %}{% endblock %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            {# END CONTENT #}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
