{% extends 'DelegationsBundle::base.html.twig' %}

{% block body -%}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'translations.EditAction'|trans({}, 'DelegationsBundle') }}
                <div class="btn-group pull-right" role="group">
                    <a href="{{ path('delegations') }}" class="btn btn-default">{{ 'translations.DelegationsList'|trans({}, 'DelegationsBundle') }}</a>
                    <a class="btn btn-default" href="{{ path('delegations_print', { 'id': entity.id }) }}">{{ 'translations.PrintAction'|trans({}, 'DelegationsBundle') }}</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% form_theme edit_form 'DelegationsBundle:Theme:create_form_theme.html.twig' %}
                {{ form(edit_form, {'attr': {'novalidate': 'novalidate', 'id': 'delegations'}}) }}
            </div>
        </div>
    </div>
{% endblock %}
