{% extends 'DelegationsBundle::base.html.twig' %}

{% block body -%}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'translations.CreateNewEntry'|trans({}, 'DelegationsBundle') }}
                <a href="{{ path('delegations') }}" class="btn btn-default pull-right">
                    {{ 'translations.DelegationsList'|trans({}, 'DelegationsBundle') }}
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% form_theme form 'DelegationsBundle:Theme:create_form_theme.html.twig' %}
                {#{{ form(form, {'attr': {'id': 'delegations'}}) }}#}
                {{ form(form, {'attr': {'novalidate': 'novalidate', 'id': 'delegations'}}) }}
            </div>
        </div>
    </div>
{% endblock %}
